$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import "backbutton";
@import "githubIcon";
body{
  user-select: none;
  box-sizing: border-box;
}

.container {
  margin-top: 150px;
  #breakTimer, #workTimer, .controls{
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    
  }
  #breakTimer, #workTimer{
    font-size: 2.5em;
  }
  .minutes, .seconds, #toggleButton, #resetButton{
    font-size: 2.3em;
  }
  .controls .minutes{
    padding-right: 10px;
  }

  .controls .seconds{
    padding-left: 10px;
  }

  #breakTimer{
    padding: 10px;
  }

  #workTimer{
    padding: 10px 20px;
  }
  .button{
    text-align: center;
  }
}


