$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body{
  user-select: none;
  box-sizing: border-box;
}

.container {
  margin-top: 150px;
  border: solid red 1px;

  #breakTimer, #workTimer{
    text-align: center;
    font-size: 1.5em;
    .increment, .decrement{
      font-size: 2rem;
      padding: 10px 20px;
      cursor: pointer;
    }
  }

  #breakTimer{
    border: solid blue 1px;
    padding: 10px;
  }

  #workTimer{
    border: solid green 1px;
    padding: 10px 20px;
  }
}


